/* Fuente normal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/*Fuente negrita*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@453&display=swap');

/*Propiedades de la box-model*/

/*Selector universal*/
*{
    padding: 0px;
    margin: 0px;
    color: white;
}

.dis{
    display: flex;
}

/*Inicio de Fuentes*/

.font{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.font2{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 453;
    font-style: normal;
}

/*Fin de Fuentes*/

/*borde guia*/
.borde{
    border: 2px solid aquamarine;
}

/*Propiedades del fondo*/
body{
    background-color: rgb(6, 6, 6);    
}

.degradadoA{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(51,38,69,0.05084031903777131) 60%, rgba(187,141,255,0.1936974618949142) 100%); 
}

.degradadoB{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(51,38,69,0.05084031903777131) 60%, rgba(187,141,255,0.1936974618949142) 100%); 
}

/*Fin de Propiedades del fondo*/


/*Color objetos*/
.lila{
    color: #423ba6;
}

.textovertical{
    writing-mode: sideways-lr;
    color: #423aa3;
    font-size: 8vh;
    padding-top: 30vh;
    position: absolute;
}


/*Sobre el header*/

.hero{
    width: 80vh;
    mask-image: linear-gradient(black 80%, transparent);
}


header{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 80vh;
    position: fixed;

    /* width: 100%; */
}

/*Sobre el Sobre mí*/

.abaut{
    align-items: center;
    width: 100%;
    justify-content: center;
}

.st{
    padding-left: 10px;
}

.abautA{
    display: flex;
    padding-block-end: 20px;
    font-size: 5vh;
}

.abautB{
    font-size: 10vh;
}

.abautC{
    font-size: 3vh;
}

/*Fin del sobre mí*/

/*Sobre Servicios*/
.boxservicios{
    justify-content: center;
    margin: 10vh;
}

.iconservicios{
    font-size: 12vh;
}

.miniboxservicios{
    border-radius: 6px;
    text-align: center;
}

.dosbox{
    justify-content: space-around;
}

.textoser{
    font-size: 3vh;
}

.imgser{
    border: #423ba6 solid;
    border-radius: 3px;
    width: 85vh;
    height: 40vh;
}

.dosboxmp{
    margin: 5vh;
    margin-left: 10vh;
}

.color{
    background-color: crimson;
}

/*Fin de Servicios*/

/*Sobre Habilidades*/

.duos{
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10vh;
}


.margen{
    margin: 5vh;
    border: #423ba6 solid 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Agrega una sombra al borde */
    border-radius: 15px;
    padding: 40px;
    
}

.iconskills{
    font-size: 8vh;

}


/*Fin de Habilidades*/

/*Sobre Proyecto*/

.imgpro{
    width: 80vh;
    height: 50vh;
}

.margenh{
    margin: 15vh;
}

.titulopro{
    text-align: left;
    font-size: 3vh;
}

.textopro{
    margin: 2vh;
    margin-left: 0vh;
    text-align: left;
    font-size: 3vh;
}


/*Fin de proyecto*/

/*Sobre contacto*/


form{
    border-radius: 2vh;
    width: 80vh;
    background-color: #171723;
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;

}
    

input{
    background-color: #17172300;
    border: 0px;
    padding: 2vh 0vh 2vh;
    padding-top: 8vh;
    padding-right: 2vh;

}

textarea{
    background-color: #17172300;
    border: 0px;
    padding-top: 8vh;

}

::placeholder{
    color: white;
    font-size: 3vh;
    border: 0px;
}

a:focus{
    color:#423ba6;
}

.btn{
    background-color: #423aa3;
    cursor: pointer;
    border-radius: 2vh;
    border: 0px;
    padding: 2vh 0vh 2vh 0vh;
    
}

.btnB{
    background-color: #423aa3;
    font-size: 3vh;
    border-radius: 2vh;

}

.botones{
    display: flex;
    justify-content: left;
    margin: 5vh;
}

.btnM{
    margin-bottom: 4vh;
    margin-top: 0%;
    padding: 3vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 6vh;
    padding-left: 6vh;

}

.sepaboton{
    margin-right: 5vh;
}

input:focus{
    outline: 1vh solid rgb(255, 255, 255);
    padding-right: 50vh;
    
  }

.inputN:focus{
    outline: 0vh;
    padding-right: 0vh;

}

textarea:focus{
    outline: 1vh solid rgb(255, 255, 255)

}


.btn:hover{
    color: #3d1278;
    /* padding: 0px;
    margin: 0px; */
}


a:hover{
    color: #c1afdb;
}

hr{
    color: #423aa3;
}

.foot{
    justify-content: center;
    align-items: center;
    padding: 10vh;
    padding-left: 30%;
    
}

/*FIn de contacto*/