/* Fuente normal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/*Fuente negrita*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@453&display=swap');

/*Selector universal*/
*{
    padding: 0px;
    margin: 0px;
    color: white;
}

.font{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.font2{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 453;
    font-style: normal;
}

/*borde guia*/
.borde{
    border: 2px solid aquamarine;
}

/*Body color fondo*/
body{
    background-color: rgb(6, 6, 6);    
}

/*Color objetos*/
.lila{
    color: #423ba6;
}

header{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 80vh;
}

.dis{
    display: flex;
}

.abaut{
    align-items: center;
    width: 100%;
    justify-content: center;
}

.st{
    padding-left: 10px;
}

.abautA{
        /* background-color:chartreuse; */
    display: flex;
    padding-block-end: 20px;
    font-size: 5vh;
}

.abautB{
    /* background-color: blue; */
    font-size: 10vh;
}

.abautC{
    font-size: 3vh;
}


.degradadoA{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(51,38,69,0.05084031903777131) 60%, rgba(187,141,255,0.1936974618949142) 100%); 
}

.degradadoB{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(51,38,69,0.05084031903777131) 60%, rgba(187,141,255,0.1936974618949142) 100%); 
}

